# Test_Spark_fits with image


- June 8th 2020


- Installation of Spark binary :
        (base) /Users/dagoret/MacOSX/External/Spark/spark-2.4.6-bin-hadoop2.7

- python Base : anaconda version 3 
            
- launch      :    
        pyspark --packages com.github.astrolabsoftware:spark-fits_2.11:0.6.0

In [1]:
#export PYSPARK_PYTHON=python
#export PYSPARK_DRIVER_PYTHON=jupyter
#export PYSPARK_DRIVER_PYTHON_OPTS='notebook'
#pyspark --packages com.github.astrolabsoftware:spark-fits_2.11:0.6.0

#df = spark.read\
#         .format("fits")\
#         .option("hdu",1)\
#.load("path_to_fits_file")
#df.show()
#df.printSchema()

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [3]:
from astropy.io import fits

In [4]:
path="/Users/dagoret/MacOSX/GitHub/LSST/PhotomCorrectAuxTel/data/atm/lsst_atm_10year_01.fits"

In [5]:
hdu = fits.open(path)

In [6]:
hdu.info()

Filename: /Users/dagoret/MacOSX/GitHub/LSST/PhotomCorrectAuxTel/data/atm/lsst_atm_10year_01.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU      14   (958, 366)   float64

In [7]:
hdu[0].header

SIMPLE  =                    T / conforms to FITS standard
BITPIX  =                  -64 / array data type
NAXIS   =                    2 / number of array dimensions
NAXIS1  =                  958
NAXIS2  =                  366
NBATMSIM=                  365
ID_NUM  =                    0
ID_YEAR =                    1
ID_AM   =                    2
ID_VAOD =                    3
ID_PWV  =                    4
ID_O3   =                    5
ID_CLD  =                    6
ID_RES  =                    7

In [8]:
df = spark.read.format("fits").option("hdu",0).load(path)

In [9]:
df.show()

+--------------------+
|               Image|
+--------------------+
|[0.0, 0.0, 0.0, 0...|
|[0.0, 1.0, 1.2, 0...|
|[1.0, 1.0, 1.2, 0...|
|[2.0, 1.0, 1.2, 0...|
|[3.0, 1.0, 1.2, 0...|
|[4.0, 1.0, 1.2, 0...|
|[5.0, 1.0, 1.2, 0...|
|[6.0, 1.0, 1.2, 0...|
|[7.0, 1.0, 1.2, 0...|
|[8.0, 1.0, 1.2, 0...|
|[9.0, 1.0, 1.2, 0...|
|[10.0, 1.0, 1.2, ...|
|[11.0, 1.0, 1.2, ...|
|[12.0, 1.0, 1.2, ...|
|[13.0, 1.0, 1.2, ...|
|[14.0, 1.0, 1.2, ...|
|[15.0, 1.0, 1.2, ...|
|[16.0, 1.0, 1.2, ...|
|[17.0, 1.0, 1.2, ...|
|[18.0, 1.0, 1.2, ...|
+--------------------+
only showing top 20 rows

In [10]:
df.printSchema()

root
 |-- Image: array (nullable = true)
 |    |-- element: double (containsNull = true)

In [11]:
#df.head(1)

In [12]:
#df.head(2)

In [13]:
df.columns

['Image']

In [14]:
#df.count()

In [15]:
len(df.columns)

1