# Split atmospheric profiles in the differents filters

- author  :Sylvie Dagoret-Campagne
- affiliaiton : IJCLab/IN2P3/CNRS
- creation date : April 24th 2020
- update date :

In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import matplotlib.cm as cmx
import numpy as np
import pandas as pd
import os
import sys
import re
%matplotlib inline

In [2]:
from astropy.io import fits

In [3]:
#to enlarge the sizes
params = {'legend.fontsize': 'x-large',
          'figure.figsize': (10,6),
         'axes.labelsize': 'x-large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'x-large',
         'ytick.labelsize':'x-large'}
plt.rcParams.update(params)

In [4]:
plt.rcParams.update({'figure.max_open_warning': 0}) # to see a large number of files

In [5]:
%load_ext autoreload
%autoreload 2

# Configuration

## Wavelength bins

In [6]:
file_wavelengthbins="data/WaveLengthBins.csv"

In [7]:
df_wl=pd.read_csv(file_wavelengthbins,index_col=0)

In [8]:
df_wl

  band  wl_aver  wl_wdth  wl_min  wl_max
0    u    356.0     78.0   317.0   395.0
1    g    472.0    154.0   395.0   549.0
2    r    619.0    140.0   549.0   689.0
3    i    754.0    130.0   689.0   819.0
4    z    870.5    103.0   819.0   922.0
5    y   1010.0    176.0   922.0  1098.0

In [9]:
NBFILTER=len(df_wl)

In [10]:
FILTER_NAME=df_wl["band"].values
WL_MIN=df_wl["wl_min"].values
WL_MAX=df_wl["wl_max"].values

## Absorption patterns

In [11]:
file_abspattern="data/absorption_pattern.csv"

In [12]:
df_atm=pd.read_csv(file_abspattern,index_col=0)

In [13]:
df_atm

,wl,o2_10,o2_11,o2_12,o2_13,o2_14,o2_15,o2_16,o2_17,o2_18,...,no2_16,no2_17,no2_18,no2_19,no2_20,no2_21,no2_22,no2_23,no2_24,no2_25
0,250.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.999785,0.999772,0.999758,0.999745,0.999731,0.999718,0.999704,0.999691,0.999678,0.999664
1,251.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.999841,0.999831,0.999821,0.999811,0.999801,0.999791,0.999781,0.999771,0.999761,0.999752
2,252.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.999849,0.999839,0.999830,0.999821,0.999811,0.999802,0.999792,0.999783,0.999774,0.999764
3,253.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.999842,0.999832,0.999822,0.999812,0.999802,0.999792,0.999782,0.999773,0.999763,0.999753
4,254.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.999833,0.999823,0.999813,0.999802,0.999792,0.999782,0.999771,0.999761,0.999750,0.999740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,1196.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
947,1197.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
948,1198.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
949,1199.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
950,1200.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Split the rows in different filters

In [14]:
wl=df_atm["wl"]

In [15]:
all_wl_indexes=[]
for iband in np.arange(NBFILTER):
    wl_indexes=np.where(np.logical_and(wl>=WL_MIN[iband],wl<=WL_MAX[iband]))[0]
    all_wl_indexes.append(wl_indexes)

In [16]:
all_df=[]
for iband in np.arange(NBFILTER):
    df=df_atm.iloc[all_wl_indexes[iband]]
    all_df.append(df)

In [17]:
all_df[5]

,wl,o2_10,o2_11,o2_12,o2_13,o2_14,o2_15,o2_16,o2_17,o2_18,...,no2_16,no2_17,no2_18,no2_19,no2_20,no2_21,no2_22,no2_23,no2_24,no2_25
672,922.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
673,923.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
674,924.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
675,925.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
676,926.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,1094.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
845,1095.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
846,1096.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
847,1097.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
848,1098.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

# Save file

In [18]:
rootfilename=file_abspattern.split(".")[0]

In [19]:
rootfilename

'data/absorption_pattern'

In [20]:
for iband in np.arange(NBFILTER):
    filename=rootfilename+"_"+FILTER_NAME[iband]+".csv"
    all_df[iband].to_csv(filename)

# 5 Check

In [21]:
for iband in np.arange(NBFILTER):
    filename=rootfilename+"_"+FILTER_NAME[iband]+".csv"
    print("====================",filename,"=======================")
    df=pd.read_csv(filename,index_col=0)
    df=df.reset_index(drop=True)
    print(df)

==================== data/absorption_pattern_u.csv =======================
       wl  o2_10  o2_11  o2_12  o2_13  o2_14  o2_15  o2_16  o2_17  o2_18  ...  \
0   317.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...
1   318.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...
2   319.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...
3   320.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...
4   321.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...
..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...  ...
74  391.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...
75  392.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...
76  393.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...
77  394.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...
78  395.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0  ...

      no2_16    no2_17    no2_18    no2_19    no2_20    no2_21    no2_22  \
0   0.998098  0.997979  0.997861  0.997742  0.997623  0.997504  0.997386
1   0.997910  0.997779  0.997649  0.997518  0.997388  0.997257  0.997127
2   0.998024  0.997900  0.997777  0.997653  0.997530  0.997407  0.997283
3   0.997818  0.997681  0.997545  0.997409  0.997273  0.997137  0.997000
4   0.997897  0.997766  0.997634  0.997503  0.997372  0.997241  0.997110
..       ...       ...       ...       ...       ...       ...       ...
74  0.994947  0.994632  0.994317  0.994002  0.993688  0.993373  0.993059
75  0.994328  0.993975  0.993621  0.993268  0.992916  0.992562  0.992209
76  0.995224  0.994926  0.994628  0.994331  0.994034  0.993736  0.993439
77  0.995231  0.994934  0.994637  0.994340  0.994043  0.993746  0.993449
78  0.995114  0.994810  0.994505  0.994201  0.993897  0.993592  0.993288

      no2_23    no2_24    no2_25
0   0.997267  0.997148  0.997030
1   0.996996  0.996866  0.996736
2   0.997160  0.997037  0.996914
3   0.996864  0.996728  0.996592
4   0.996978  0.996847  0.996716
..       ...       ...       ...
74  0.992744  0.992430  0.992116
75  0.991857  0.991504  0.991152
76  0.993141  0.992844  0.992547
77  0.993152  0.992855  0.992559
78  0.992984  0.992680  0.992376

[79 rows x 65 columns]
==================== data/absorption_pattern_g.csv =======================
        wl  o2_10  o2_11  o2_12  o2_13  o2_14  o2_15  o2_16  o2_17  o2_18  \
0    395.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
1    396.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
2    397.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
3    398.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
4    399.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
150  545.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
151  546.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
152  547.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
153  548.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
154  549.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0

     ...    no2_16    no2_17    no2_18    no2_19    no2_20    no2_21  \
0    ...  0.995114  0.994810  0.994505  0.994201  0.993897  0.993592
1    ...  0.994818  0.994495  0.994172  0.993849  0.993527  0.993204
2    ...  0.995276  0.994982  0.994688  0.994393  0.994100  0.993805
3    ...  0.994398  0.994049  0.993700  0.993351  0.993003  0.992653
4    ...  0.995053  0.994744  0.994436  0.994128  0.993820  0.993511
..   ...       ...       ...       ...       ...       ...       ...
150  ...  0.998804  0.998729  0.998654  0.998580  0.998505  0.998430
151  ...  0.999027  0.998966  0.998905  0.998844  0.998783  0.998722
152  ...  0.999168  0.999116  0.999064  0.999012  0.998960  0.998908
153  ...  0.999008  0.998946  0.998885  0.998822  0.998761  0.998699
154  ...  0.998954  0.998889  0.998823  0.998758  0.998693  0.998627

       no2_22    no2_23    no2_24    no2_25
0    0.993288  0.992984  0.992680  0.992376
1    0.992882  0.992559  0.992237  0.991915
2    0.993511  0.993217  0.992923  0.992629
3    0.992305  0.991956  0.991608  0.991260
4    0.993203  0.992896  0.992588  0.992280
..        ...       ...       ...       ...
150  0.998356  0.998281  0.998206  0.998131
151  0.998662  0.998601  0.998540  0.998479
152  0.998856  0.998804  0.998753  0.998700
153  0.998637  0.998575  0.998513  0.998451
154  0.998562  0.998497  0.998431  0.998366

[155 rows x 65 columns]
==================== data/absorption_pattern_r.csv =======================
        wl     o2_10     o2_11     o2_12     o2_13     o2_14     o2_15  \
0    549.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1    550.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
2    551.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
3    552.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
4    553.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
..     ...       ...       ...       ...       ...       ...       ...
136  685.0  0.999978  0.999975  0.999973  0.999971  0.999969  0.999966
137  686.0  0.999956  0.999951  0.999947  0.999942  0.999938  0.999933
138  687.0  0.758645  0.748193  0.738322  0.728919  0.719905  0.711221
139  688.0  0.919242  0.912008  0.904911  0.897951  0.891122  0.884423
140  689.0  0.941234  0.935950  0.930764  0.925674  0.920677  0.915771

        o2_16     o2_17     o2_18  ...    no2_16    no2_17    no2_18  \
0    1.000000  1.000000  1.000000  ...  0.998954  0.998889  0.998823
1    1.000000  1.000000  1.000000  ...  0.999171  0.999119  0.999067
2    1.000000  1.000000  1.000000  ...  0.999248  0.999201  0.999154
3    1.000000  1.000000  1.000000  ...  0.999287  0.999243  0.999198
4    1.000000  1.000000  1.000000  ...  0.999046  0.998986  0.998927
..        ...       ...       ...  ...       ...       ...       ...
136  0.999964  0.999962  0.999960  ...  1.000000  1.000000  1.000000
137  0.999929  0.999924  0.999920  ...  1.000000  1.000000  1.000000
138  0.702827  0.694691  0.686789  ...  1.000000  1.000000  1.000000
139  0.877849  0.871399  0.865069  ...  1.000000  1.000000  1.000000
140  0.910955  0.906226  0.901582  ...  1.000000  1.000000  1.000000

       no2_19    no2_20    no2_21    no2_22    no2_23    no2_24    no2_25
0    0.998758  0.998693  0.998627  0.998562  0.998497  0.998431  0.998366
1    0.999015  0.998964  0.998912  0.998860  0.998808  0.998756  0.998705
2    0.999107  0.999060  0.999013  0.998966  0.998919  0.998872  0.998826
3    0.999154  0.999109  0.999065  0.999020  0.998975  0.998931  0.998886
4    0.998867  0.998808  0.998748  0.998688  0.998629  0.998570  0.998510
..        ...       ...       ...       ...       ...       ...       ...
136  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
137  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
138  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
139  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
140  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000

[141 rows x 65 columns]
==================== data/absorption_pattern_i.csv =======================
        wl     o2_10     o2_11     o2_12     o2_13     o2_14     o2_15  \
0    689.0  0.941234  0.935950  0.930764  0.925674  0.920677  0.915771
1    690.0  0.961031  0.957328  0.953660  0.950024  0.946422  0.942853
2    691.0  0.970868  0.968176  0.965523  0.962906  0.960326  0.957781
3    692.0  0.991495  0.990663  0.989835  0.989009  0.988188  0.987369
4    693.0  0.994012  0.993422  0.992834  0.992248  0.991664  0.991081
..     ...       ...       ...       ...       ...       ...       ...
126  815.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
127  816.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
128  817.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
129  818.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
130  819.0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000

        o2_16     o2_17     o2_18  ...  no2_16  no2_17  no2_18  no2_19  \
0    0.910955  0.906226  0.901582  ...     1.0     1.0     1.0     1.0
1    0.939317  0.935813  0.932340  ...     1.0     1.0     1.0     1.0
2    0.955272  0.952797  0.950357  ...     1.0     1.0     1.0     1.0
3    0.986554  0.985742  0.984933  ...     1.0     1.0     1.0     1.0
4    0.990500  0.989921  0.989343  ...     1.0     1.0     1.0     1.0
..        ...       ...       ...  ...     ...     ...     ...     ...
126  1.000000  1.000000  1.000000  ...     1.0     1.0     1.0     1.0
127  1.000000  1.000000  1.000000  ...     1.0     1.0     1.0     1.0
128  1.000000  1.000000  1.000000  ...     1.0     1.0     1.0     1.0
129  1.000000  1.000000  1.000000  ...     1.0     1.0     1.0     1.0
130  1.000000  1.000000  1.000000  ...     1.0     1.0     1.0     1.0

     no2_20  no2_21  no2_22  no2_23  no2_24  no2_25
0       1.0     1.0     1.0     1.0     1.0     1.0
1       1.0     1.0     1.0     1.0     1.0     1.0
2       1.0     1.0     1.0     1.0     1.0     1.0
3       1.0     1.0     1.0     1.0     1.0     1.0
4       1.0     1.0     1.0     1.0     1.0     1.0
..      ...     ...     ...     ...     ...     ...
126     1.0     1.0     1.0     1.0     1.0     1.0
127     1.0     1.0     1.0     1.0     1.0     1.0
128     1.0     1.0     1.0     1.0     1.0     1.0
129     1.0     1.0     1.0     1.0     1.0     1.0
130     1.0     1.0     1.0     1.0     1.0     1.0

[131 rows x 65 columns]
==================== data/absorption_pattern_z.csv =======================
        wl  o2_10  o2_11  o2_12  o2_13  o2_14  o2_15  o2_16  o2_17  o2_18  \
0    819.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
1    820.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
2    821.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
3    822.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
4    823.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
99   918.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
100  919.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
101  920.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
102  921.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
103  922.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0

     ...  no2_16  no2_17  no2_18  no2_19  no2_20  no2_21  no2_22  no2_23  \
0    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
1    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
2    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
3    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
4    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
..   ...     ...     ...     ...     ...     ...     ...     ...     ...
99   ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
100  ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
101  ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
102  ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
103  ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0

     no2_24  no2_25
0       1.0     1.0
1       1.0     1.0
2       1.0     1.0
3       1.0     1.0
4       1.0     1.0
..      ...     ...
99      1.0     1.0
100     1.0     1.0
101     1.0     1.0
102     1.0     1.0
103     1.0     1.0

[104 rows x 65 columns]
==================== data/absorption_pattern_y.csv =======================
         wl  o2_10  o2_11  o2_12  o2_13  o2_14  o2_15  o2_16  o2_17  o2_18  \
0     922.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
1     923.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
2     924.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
3     925.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
4     926.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
..      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
172  1094.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
173  1095.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
174  1096.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
175  1097.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
176  1098.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0

     ...  no2_16  no2_17  no2_18  no2_19  no2_20  no2_21  no2_22  no2_23  \
0    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
1    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
2    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
3    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
4    ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
..   ...     ...     ...     ...     ...     ...     ...     ...     ...
172  ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
173  ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
174  ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
175  ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0
176  ...     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0

     no2_24  no2_25
0       1.0     1.0
1       1.0     1.0
2       1.0     1.0
3       1.0     1.0
4       1.0     1.0
..      ...     ...
172     1.0     1.0
173     1.0     1.0
174     1.0     1.0
175     1.0     1.0
176     1.0     1.0

[177 rows x 65 columns]